/* FONT */
@font-face {
  font-family: "Open Sans";
  src: url();
}

/* STYLE UTAMA */
body {
  font-family: "Open Sans", "arial", sans-serif;
  font-size: 18px;
  color: #000;
  background-color: #ddd;
}

h1 {
  font-size: 80px;
  margin: 50 0;
  text-align: center;
  text-shadow: 2px 1px 2px #fff;
  color: aqua;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  background-color: #fff;
  max-width: 1200px;
  margin: auto;
  padding: 180px;
  padding-top: 40px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.gallery li {
  height: 313px;
  height: 292px;
  margin: 18px;
  border-radius: 50%;
  /*overflow: hidden;*/
  border: 3px solid #666;
  float: left;
  margin-right: 20px;
  position: relative;
}

.gallery li span {
  display: block;
  width: 313px;
  height: 292px;
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 50%;
  text-align: center;
  color: aqua;
  text-shadow: 1px 1px 1px #fff;
  line-height: 292px;
  position: absolute;
  top: 0;
  opacity: 0;
  transform: scale(0) rotate(0deg);
  transition: 0.3s;
}

.gallery li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}

.gallery li img {
  border-radius: 50%;
}
.clear {
  clear: both;
}

/* overlay */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 200px;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.8s;
}

.overlay:target {
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
}

.overlay:target img {
  animation: zoomIn 0.8s;
}

.overlay .closeImage {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -20px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #fff;
  border-radius: 150%;
  text-align: center;
  line-height: 30px;
  color: #fff;
  padding: 5px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}

.overlay:target .closeImage {
  animation: closeSLIDE 0.5s 0.5s forwards;
}

/* ANIMASI */
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes closeSLIDE {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aqua;
  text-shadow: 1px 1px 1px #fff;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aqua;
  text-align: center;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: none;
}

#submit {
  width: 100%;
  height: 50px;
  background-color: aqua;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.footers {
  width: 100%;
  height: 50px;
  background-color: aqua;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  cursor: pointer;
}

.footers p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: center;
}
